
@font-face {
	font-family: KorolevMedium;
	src: url(KorolevMedium.woff);
 }
 @font-face {
	font-family: KorolevLight;
	src: url(KorolevLight.woff);
 }
body {
	margin: 0;
	padding: 0;
  }
  
  .container {
	
	width: 30%;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
	
	
  }

  .container h2{
	font-family:'KorolevMedium';
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 80px;
	color: rgb(255, 255, 255);
	top: 25px;
	font-size: 2.5rem;
	letter-spacing: 1px;
  }
  .container p{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 22px;
	color: rgb(0, 153, 255);
	font-size: 1.2rem;
	
  }
  
  .Loading {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 13px;
	background: rgb(0, 153, 255);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
	border-radius: 14px;
	overflow: hidden;
	margin-left: 25%;
  }
  
	#bar{
	content: '';
	position: absolute;	
	left: 0;
	width: 30%;
	background-color: rgb(255, 255, 255);
	height: 100%;
	border-radius: 4px;
  }

